#touchPhone {
    position: relative;
}

#touchPhone iframe{
    width:320px;
    height:480px;
}

#ui-text {
    position: absolute;
    top: 284px;
    left: 0;
}

ul .bigfont {
    font-size:1.9em;
    padding:20px;
}

#seven .bigfont {
    font-size:1.9em;
    padding:20px;
}

#fourteen .img-shadow {
    box-shadow: 10px 10px 68px black;
}

#fifteen .img-shadow {
    box-shadow: 10px 10px 68px black;
}

.left {
    position:relative;
    left:-150px;
}

button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
}
.toggler.on {
    color: green;
    fill: green;
}
.toggler {
    cursor: pointer;
}

#layer {
    -webkit-animation-duration: 5s;
    -webkit-animation-name: slide;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    width: 200px;
    height: 200px;
    margin: 100px;
    background-color: gray;
}
@-webkit-keyframes slide {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(120deg);
    }
}

#perspectiveContainer {
    -webkit-perspective-origin: 50% 50%;
    -webkit-perspective: 1000px;
    margin-left: 120px;
    zoom:none;
}
#rotationContainer {
    -webkit-transform: translateZ(-457px) rotate3d(-1, 1, 0, 0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 1s linear all;
}
#rotationContainer img {
    position: absolute;
    -webkit-transition: inherit;
    border: 1px solid lightgray;
    -webkit-transform: translateZ(0);
    max-width: none;
    max-height: none;
}
#rotationContainer.rotated {
    -webkit-transform: translateZ(-457px) rotate3d(-1, 1, 0, -45deg);
}
#gmailtop {
    top:0;
    left:0;
    width: 600px;
}
#rotationContainer.rotated #gmailtop {
    -webkit-transform: translateZ(25px);
}
#gmailside {
    top: 84px;
    left: 0;
    width: 120px;
}
#rotationContainer.rotated #gmailside {
    -webkit-transform: translateZ(75px);
}
#gmailmessages {
    top: 15px;
    left: 120px;
    width: 480px;
    z-index: -1;
}
#rotationContainer.rotated #gmailmessages {
    -webkit-transform: translateZ(-25px);
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
    -webkit-animation-name: scroll;
    -webkit-animation-iteration-count: 5;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
}
#viewport {
    -webkit-transition: inherit;
    position: absolute;
    margin: -50px;
    width: 600px;
    height: 410px;
    z-index: 5;
    border-left-width: 50px;
    border-right-width: 50px;
    border-bottom-width: 100px;
    border-top-width: 50px;
    border-color: rgba(33,33,33,0.2);
    border-style: solid;
}
#viewport .blueborder {
    width: 100%;
    height: 100%;
    border: 2px solid blue;
}
#rotationContainer.rotated #viewport {
    -webkit-transform: translate3d(0, 0, 100px);
}

@-webkit-keyframes scroll {
    from {
        -webkit-transform: translate3d(0, 0, -25px);
    }
    to {
        -webkit-transform: translate3d(0, -100px, -25px);
    }
}

#paint-demo {
}
#yunos-logo {
    width:200px;
    height:200px;
    position:absolute;
    top: 128px;
    left: 0;
}

#yunos-logo2 {
    width:200px;
    height:200px;
    position:absolute;
    top: 128px;
    right: 0;
}

#controls {
    padding: 10px;
}

.mover {
    position: fixed;
    width: 256px;
}

#paint-demo .heavy-painting {
    background-color: #444444;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
    background-image: -webkit-linear-gradient(top, #444444, #999999);
    background-size: 3px 3px;
    box-shadow: 15px 15px 15px;
    -webkit-box-shadow: 15px 15px 15px black;
    height:200px;
    width:200px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border:2px solid;
}
#batteries {
    background-color: #555557;
    margin: 10em auto;
    height: 50%;
    width: 1%;
    padding: 0;
}
/* body { */
    /* background-color: #555557; */
    /* margin: 10em auto; */
    /* height: 50%; */
    /* width: 1%; */
    /* padding: 0; */
/* } */

#battery {
    height: 3.7em;
    width: 2.3em;
    background-color: transparent;
    box-sizing: border-box;
    border: .3em #ffffff solid;
    float: left;
    display: block;
    padding: 0;
    margin: -8em -0.9em;
}

#battery::before {
    content: "";
    height: .4em;
    width: 1.1em;
    background-color: #ffffff;
    position: absolute;
    margin-top: -.6em;
    margin-left: -0.55em;
}

#battery::after {
    content: "";
    background: #a3c243;
    width: 1.4em;
    position: absolute;
    margin-left: -0.7em;
    height: 3em;
    margin-top: 0.1em;
    -webkit-animation: batery 7s infinite;
    animation: batery 7s;
}

@-webkit-keyframes batery {
    0%{height: 2.8em; margin-top: 0.2em;background:#a3c243;}
    7.5%{height: 2.5em; margin-top: 0.5em;}
    15%{height: 1.9em; margin-top: 1.1em;}
    22.5%{height: 1.6em; margin-top: 1.4em;}
    30%{height: 1em; margin-top: 2em;}
    37.5%{height: 0.6em; margin-top: 2.4em;}
    45%{height: 0.3em; margin-top: 2.7em; background: rgb(235, 106, 66);}
    52.5%{height: 0em; margin-top: 3em;background:none;}
    60%{background:none;}
    67.5%{height: 2.8em; margin-top: 0.2em;background:none;}
    70%{height: 2.8em; margin-top: 0.2em;background:none;}
    75%{height: 2.8em; margin-top: 0.2em;background: 
        linear-gradient(113deg, 
        rgb(235, 106, 66) 0%, 
        rgb(235, 106, 66) 46%, 
        rgb(85, 85, 87) 46%, 
        rgb(85, 85, 87) 54%, 
        rgb(235, 106, 66) 54%, 
        rgb(235, 106, 66) 100%);
    }
    85%{background:none;}
    95%{height: 2.8em; margin-top: 0.2em;background: 
        linear-gradient(113deg, 
        rgb(235, 106, 66) 0%, 
        rgb(235, 106, 66) 46%, 
        rgb(85, 85, 87) 46%, 
        rgb(85, 85, 87) 54%, 
        rgb(235, 106, 66) 54%, 
        rgb(235, 106, 66) 100%);
    }
    100%{background:none;}
}

@keyframes batery {
    0%{height: 2.8em; margin-top: 0.2em;background:#fff;}
    7.5%{height: 2.5em; margin-top: 0.5em;}
    15%{height: 1.9em; margin-top: 1.1em;}
    22.5%{height: 1.6em; margin-top: 1.4em;}
    30%{height: 1em; margin-top: 2em;}
    37.5%{height: 0.6em; margin-top: 2.4em;}
    45%{height: 0.3em; margin-top: 2.7em; background: rgb(235, 106, 66);}
    52.5%{height: 0em; margin-top: 3em;background:none;}
    60%{background:none;}
    67.5%{height: 2.8em; margin-top: 0.2em;background:none;}
    70%{height: 2.8em; margin-top: 0.2em;background:none;}
    75%{height: 2.8em; margin-top: 0.2em;background: 
        linear-gradient(113deg, 
        rgb(235, 106, 66) 0%, 
        rgb(235, 106, 66) 46%, 
        rgb(85, 85, 87) 46%, 
        rgb(85, 85, 87) 54%, 
        rgb(235, 106, 66) 54%, 
        rgb(235, 106, 66) 100%);
    }
    85%{background:none;}
    95%{height: 2.8em; margin-top: 0.2em;background: 
        linear-gradient(113deg, 
        rgb(235, 106, 66) 0%, 
        rgb(235, 106, 66) 46%, 
        rgb(85, 85, 87) 46%, 
        rgb(85, 85, 87) 54%, 
        rgb(235, 106, 66) 54%, 
        rgb(235, 106, 66) 100%);
    }
    100%{background:none;}
}


#container {
    width: 100%;
    height: 700px;
    -webkit-perspective: 800; /* For compatibility with iPhone 3.0, we leave off the units here */
    -webkit-perspective-origin: 50% 225px;
    margin-top:-100px;
}
#stage {
    width: 100%;
    height: 100%;
    -webkit-transition: -webkit-transform 2s;
    -webkit-transform-style: preserve-3d;
    line-height:normal;
}

#shape {
    position: relative;
    top: 160px;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    -webkit-transform-style: preserve-3d;
}

#shape .plane {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 1px solid white;
    -webkit-border-radius: 12px;
    -webkit-box-sizing: border-box;
    text-align: center;
    font-family: Times, serif;
    font-size: 124pt;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-transition: -webkit-transform 2s, opacity 2s;
    -webkit-backface-visibility: hidden;
}

#shape.backfaces .plane {
    -webkit-backface-visibility: visible;
}

#shape {
    -webkit-animation: spin 8s infinite linear;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotateY(0); }
    to   { -webkit-transform: rotateY(-360deg); }
}

/* ---------- cube styles ------------- */
.cube > .one {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(90deg) translateZ(100px);
}

.cube > .two {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) translateZ(100px);
}

.cube > .three {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(90deg) translateZ(100px);
}

.cube > .four {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(180deg) translateZ(100px);
}

.cube > .five {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateY(-90deg) translateZ(100px);
}

.cube > .six {
    opacity: 0.5;
    -webkit-transform: scale3d(1.2, 1.2, 1.2) rotateX(-90deg) translateZ(100px) rotate(180deg);
}


.cube > .seven {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(90deg) translateZ(100px) rotate(180deg);
}

.cube > .eight {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) translateZ(100px);
}

.cube > .nine {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(90deg) translateZ(100px);
}

.cube > .ten {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(180deg) translateZ(100px);
}

.cube > .eleven {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateY(-90deg) translateZ(100px);
}

.cube > .twelve {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotateX(-90deg) translateZ(100px);
}

/* ---------- ring styles ------------- */
.ring > .one {
    -webkit-transform: translateZ(380px);
}

.ring > .two {
    -webkit-transform: rotateY(30deg) translateZ(380px);
}

.ring > .three {
    -webkit-transform: rotateY(60deg) translateZ(380px);
}

.ring > .four {
    -webkit-transform: rotateY(90deg) translateZ(380px);
}

.ring > .five {
    -webkit-transform: rotateY(120deg) translateZ(380px);
}

.ring > .six {
    -webkit-transform: rotateY(150deg) translateZ(380px);
}

.ring > .seven {
    -webkit-transform: rotateY(180deg) translateZ(380px);
}

.ring > .eight {
    -webkit-transform: rotateY(210deg) translateZ(380px);
}

.ring > .nine {
    -webkit-transform: rotateY(-120deg) translateZ(380px);
}

.ring > .ten {
    -webkit-transform: rotateY(-90deg) translateZ(380px);
}

.ring > .eleven {
    -webkit-transform: rotateY(300deg) translateZ(380px);
}

.ring > .twelve {
    -webkit-transform: rotateY(330deg) translateZ(380px);
}

/* .controls { */
    /* width: 80%; */
    /* margin: 0 auto; */
    /* padding: 5px 20px; */
    /* -webkit-border-radius: 12px; */
    /* background-color: rgba(255, 255, 255, 0.5); */
/* } */
/* .controls > div { */
    /* margin: 10px; */
/* } */


/*
 * An animated progress circle, by Jonatan Littke (littke.com). Use as you wish.
 */
    /*
     * MIXINS
     *
     * Most of these are included in Bootstrap, so if you have that, you can remove all of them
     * except .animation and .animation-state.
     */
    @-webkit-keyframes rotate {
        from {
            -webkit-transform: rotate(0deg);
        }
        to {
            -webkit-transform: rotate(360deg);
        }
    }
    @-moz-keyframes rotate {
        from {
            -moz-transform: rotate(0deg);
        }
        to {
            -moz-transform: rotate(360deg);
        }
    }
    @-o-keyframes rotate {
        from {
            -o-transform: rotate(0deg);
        }
        to {
            -o-transform: rotate(360deg);
        }
    }
    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    .progress-circle-container {
        -webkit-backface-visibility:hidden;
        position: relative;
        height: 230px;
        width: 230px;
        margin: 0 auto;
        left: 354px;
    }
    .progress-circle-container .progress-circle-outer {
        background-color: #faef85;
        background-repeat: repeat-x;
        background-image: -moz-linear-gradient(0deg, #d66f0f, #faef85);
        background-image: -webkit-linear-gradient(0deg, #d66f0f, #faef85);
        background-image: -o-linear-gradient(0deg, #d66f0f, #faef85);
        background-image: linear-gradient(0deg, #d66f0f, #faef85);
        width: 230px;
        height: 230px;
        position: absolute;
        -webkit-animation-play-state: paused;
        -moz-animation-play-state: paused;
        -o-animation-play-state: paused;
        animation-play-state: paused;
        -webkit-animation: rotate 1.8s infinite linear;
        -moz-animation: rotate 1.8s infinite linear;
        -o-animation: rotate 1.8s infinite linear;
        animation: rotate 1.8s infinite linear;
        -webkit-box-shadow: inset 0 2px 10px #d58513, inset 0 0 20px #b93d00, 0 0 15px rgba(216, 140, 23, 0.25);
        -moz-box-shadow: inset 0 2px 10px #d58513, inset 0 0 20px #b93d00, 0 0 15px rgba(216, 140, 23, 0.25);
        box-shadow: inset 0 2px 10px #d58513, inset 0 0 20px #b93d00, 0 0 15px rgba(216, 140, 23, 0.25);
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
    }
    .progress-circle-container .progress-circle-outer.animate {
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -o-animation-play-state: running;
        animation-play-state: running;
    }
    .progress-circle-container .progress-circle-inner {
        z-index:10;
        height: 170px;
        width: 170px;
        margin: 0 auto;
        position: absolute;
        left: 30px;
        top: 30px;
        -webkit-border-radius: 200px;
        -moz-border-radius: 200px;
        border-radius: 200px;
        background-color: #ebeae5;
        -webkit-box-shadow: inset 0 2px 1px #ffffff, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 2px 1px #ffffff, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 2px 1px #ffffff, inset 0 -1px 1px rgba(0, 0, 0, 0.08), inset 0 -3px 1px rgba(0, 0, 0, 0.09), 0 2px 2px rgba(0, 0, 0, 0.3);
        text-align: center;
    }
    .progress-circle-container .progress-circle-inner .number,
    .progress-circle-container .progress-circle-inner .unit {
        line-height: 173px;
        color: #d77515;
        font-size: 74px;
        font-weight: normal;
        text-shadow: 0 -1px 1px #a15711, 0 1px 1px #ffffff;
    }
    .progress-circle-container .progress-circle-inner .number {
        position: relative;
        left: 3px;
    }
    .progress-circle-container .progress-circle-inner .unit {
        font-size: 18px;
        text-shadow: 0 1px 1px white;
        position: relative;
        left: -2px;
    }

